<div class="scaffold">
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <h1>Mator's Application Data Interface</h1>
  <p>Welcome!  :D</p>

  <ul>
    <li><a href = "/blacklist_entries">blacklist_entries</a></li>
    <li><a href = "/mator_smash_statistics">mator_smash_statistics</a></li>
    <li><a href = "/merge_plugins_statistics">merge_plugins_statistics</a></li>
    <li><a href = "/merge_reports">merge_reports</a></li>
    <li><a href = "/smash_reports">smash_reports</a></li>
    <li><a href = "/smash_settings">smash_settings</a></li>
    <li><a href = "/users">users</a></li>
  </ul>
</div>