<!DOCTYPE html>
<html lang="en" ng-app="madi">
<head>
    <meta charset="UTF-8">
    <title>Mator's Application Data Interface</title>
    <%= stylesheet_link_tag "main/Ruby" %>
</head>

<body>
    <%= yield %>
</body>
</html>
